.Container-landing-page {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  .Wrapper-landing-page {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
